.about-section{
    width: 100%;
}
.about-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about-image{
    width: 100%;
    height: 400px;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    align-items: end;
}

@media  screen and (max-width: 500px) {
    .about-wrap{
        grid-template-columns: 1fr;
    }
    .about-image{
        height: 300px;
    }
}
