.brand-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.brand-wrapper h2{
    font-weight: 400;
}
.brand-wrapper h2 strong{
    color: #09e414;
}
/* Hand-Drawn Underline Effect */
.highlight, .underline {
    position: relative;
    display: inline-block;
}

.highlight::after, 
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust underline position */
    width: 100%;
    height: 12px; /* Thickness of the underline */
    background-image: url('https://cdn.pixabay.com/photo/2017/11/10/05/48/underline-2935434_1280.png'); /* Hand-drawn underline */
    background-repeat: no-repeat;
    background-size: contain;
}